h1, h2, h3, a{
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
a {
  color: white;
}

.custom-toggler.navbar-toggler {
    border-color: #fff;
}

#navbarMenuToggler, #navbarMenu .nav-link {
  color: #333;
}
#navbarMenu .nav-link {
  padding: 12px 0;
  font-weight: 300;
}

#hero {
  background-image: url(./images/Hero00.JPG);
  background-size: cover;
  background-position: center;
  height: 450px;
}

.glass {

  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}

#hero h2 {
  padding-top: 130px;
  color: white;
}

.hero-text {
  padding-top: 150px;
}

#navbarMenu {
  top: 0;
  left: 0;
  right: 0;
  padding-top: 88px;
}

.nav-link:hover {
    border-bottom: 2px solid #fff;
  }
